
.root {
    -fx-font-size: 12;
    -fx-font-family: Roboto, sans-serif;
    -fx-background-color: rgba(255,255,255,1);
    -fx-dark: rgba(0,0,0,1);
    -fx-bright: rgba(255,255,255,1);
    -fx-base-color: rgba(250,70,43,1);
}

.fontawesome {
    -fx-font-family: FontAwesome;
}

.circle {
    -fx-background-radius: 3em;
    -fx-min-width: 3em;
    -fx-max-width: 3em;
    -fx-min-height: 3em;
    -fx-max-height: 3em;
}

.invisible {
    -fx-background-color: rgba(255,255,255,0);
}

/* BUTTONS */

.button {
    -fx-background-color: rgba(255,255,255,0);
    -fx-border-radius: 3em;
    -fx-border-width: 2px;
    -fx-border-color: rgba(0,0,0,.67);
}

/* LIST VIEWS */

.list-view {
    -fx-background-color: rgba(255,255,255,1);
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.list-view:focused {
    fx-background-insets: 0;
}

.list-cell {
    -fx-padding: 10px;
}

.list-cell:odd {
    -fx-background-color: -fx-bright;
}

.list-cell:focused {
    -fx-background-color: -fx-base-color;
    -fx-text-fill: -fx-bright;
}


/* TEXT FIELD */

.text-field {
    -fx-background-color: -fx-bright;
    -fx-background-insets: 0;
    -fx-background-radius: 3em;
    -fx-padding: 1em;
    -fx-max-height: 3em;
    -fx-min-height: 3em;
    -fx-text-fill: -fx-dark;
    -fx-prompt-text-fill: derive(-fx-bright, -25%);
    -fx-cursor: text;
}

.text-field:disabled {
    -fx-opacity: 0.75;
}

/* SCROLL BAR */

.scroll-bar {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.scroll-bar .track {
    -fx-opacity: 0;
}

.scroll-bar .track-background {
    -fx-opacity: 0;
}

.scroll-bar:hover {
    -fx-background-color: derive(-fx-bright, -1%);
}

.scroll-bar .thumb {
    -fx-background-color: -fx-dark;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: -fx-dark;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-background-color: -fx-bright;
    -fx-padding: 0 5;
    -fx-shape: "";
}

/* SCROLL PANE */

.scroll-pane {
    -fx-background-insets: 0;
}

/* COMPONENT SPECIFICS */

#topbar {
    -fx-background-color: -fx-dark;
}

#topbar .button {
    -fx-border-color: -fx-bright;
    -fx-text-fill: -fx-bright;
    -fx-border-radius: 0;
}

#topbar .button.circle {
    -fx-border-radius: 3em;
}

/*

.h1 {
    -fx-font-size: 26;
    -fx-font-family: Roboto, sans-serif;
}

#topbarSearchTextField {
    -fx-background-color: white;
    -fx-padding: 0 0 0 15;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #EEE;
}

#sidebar,
#emailDetail {
    -fx-background-color: white;
}
#emailList {
    -fx-background-color: #EEE;
}

#emailDetailVBox {
    -fx-padding: 30;
    -fx-background-color: white;
}

.button {
    -fx-cursor: HAND;
    -fx-background-color: #E5404C;
    -fx-background-radius: 0;
    -fx-text-fill: white;
    -fx-padding: 10 20;
}
.button:hover {
	-fx-background-color: derive(#E5404C, 20%);
}
.button:armed {
	-fx-background-color: derive(#E5404C, -10%);
}

.text-field {
	-fx-background-color: #FFF;
	-fx-border-color: #CCC;
	-fx-border-width: 0 0 1 0; 
	-fx-padding: 0;
}

.text-area {
    -fx-background-color: #FFF;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: #CCC;
    -fx-border-width: 0 0 0 0;
    -fx-padding: 5;
    -fx-effect: null;
}

.text-area:focused {
	-fx-background-radius: 0;
	-fx-background-insets: 0;
}

.text-area .content {
	-fx-background-radius: 0;
    -fx-background-color: #FFF;
    -fx-dropshadow: gaussian, red, 1, 1, 1;
}

.text-area:focused {
    -fx-background-color: #FFF;
    -fx-background-insets: -0.4, 1, 2;
    -fx-background-radius: 3.4, 2, 2;
    -fx-prompt-text-fill: transparent;
}
 
.text-area .content {
    -fx-padding: 3 5 3 5;
    -fx-cursor: text;
}


.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
    visibility: hidden;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;

}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.scroll-bar .increment-button {
  visibility: hidden;
}

.scroll-bar .decrement-button {
  visibility: hidden;
}

.scroll-bar:vertical {
  -fx-background-color: transparent;
} */