.root {
    -fx-font-size: 12;
    -fx-font-family: Roboto, monotype;
    -fx-background-color: white;
}

* {
    -fx-background-insets: 0;
}

.h1 {
    -fx-font-size: 26;
    -fx-font-family: Roboto, sans-serif;
}


#sidebar,
#emailDetail {
    -fx-background-color: white;
}
#emailList {
    -fx-background-color: #EEE;
}

#emailDetailVBox {
    -fx-padding: 30;
    -fx-background-color: white;
}

.button {
    -fx-cursor: HAND;
    -fx-background-color: #E5404C;
    -fx-background-radius: 0;
    -fx-text-fill: white;
    -fx-padding: 10 20;
}
.button:hover {
	-fx-background-color: derive(#E5404C, 20%);
}
.button:armed {
	-fx-background-color: derive(#E5404C, -10%);
}

.text-field {
	-fx-background-color: #FFF;
	-fx-border-color: #CCC;
	-fx-border-width: 0 0 1 0; 
	-fx-padding: 0;
}

.text-area {
    -fx-background-color: #FFF;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: #CCC;
    -fx-border-width: 0 0 0 0;
    -fx-padding: 5;
    -fx-effect: null;
}

.text-area:focused {
	-fx-background-radius: 0;
	-fx-background-insets: 0;
}

.text-area .content {
	-fx-background-radius: 0;
    -fx-background-color: #FFF;
    -fx-dropshadow: gaussian, red, 1, 1, 1;
}

.text-area:focused {
    -fx-background-color: #FFF;
    -fx-background-insets: -0.4, 1, 2;
    -fx-background-radius: 3.4, 2, 2;
    -fx-prompt-text-fill: transparent;
}
 
.text-area .content {
    -fx-padding: 3 5 3 5;
    -fx-cursor: text;
}

/* The main scrollbar **track** CSS class  */
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
    visibility: hidden;
}

/* The increment and decrement button CSS class of scrollbar */
.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;

}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.scroll-bar .increment-button {
  visibility: hidden;
}

.scroll-bar .decrement-button {
  visibility: hidden;
}

.scroll-bar:vertical {
  -fx-background-color: transparent;
}